* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 80px 1fr;
}

dialog {
  position: absolute;
  margin: auto;
  padding: 50px;
  border-radius: 20px;
}

form {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}

input, 
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.new-project {
  display: flex;
  gap: 20px;
}

.dialog-btns {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 20px;
}

.dialog-btns button {
  flex: 1;
}

.heading {
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  align-items: center;
  padding-left: 50px;
  background-color: #86e7b8;
}

.sidebar {
  background-color: #d0ffb7;
  padding: 50px 20px 50px 50px;
  display: grid;
  grid-template-rows: repeat(4, 60px) 1fr;
}

.side-heading {
  align-self: center;
}

.project-list {
  list-style: none;
  padding-left: 20px;
  font-weight: bold;
}

.main-content {
  background-color: #f2f5de;
  padding: 50px;
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 30px;
  justify-items: center;
}

.new-todo-btn {
  padding: 5px 10px;
  border-radius: 10px;
}

.todo-list {
  width: min(500px, 100%);
  display: grid;
  gap: 10px;
}

.todo {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr repeat(3, max-content);
  gap: 10px;
  padding: 10px;
}

.low {
  border: green solid 2px;
}

.medium {
  border: orange solid 2px;
}

.high {
  border: red solid 2px;
}

.todo img {
  height: 24px;
  width: 24px;
}